/* https://stackoverflow.com/questions/2182716/is-it-possible-to-set-the-equivalent-of-a-src-attribute-of-an-img-tag-in-css */
body {
	background-image: url(https://user-images.githubusercontent.com/25018527/30564795-fd4458ce-9c7a-11e7-9e78-56f22d873a4c.gif);
}
@media screen and (min-width: 250px) {
	img {
	
		content:url(https://user-images.githubusercontent.com/25018527/30564779-f01acee4-9c7a-11e7-86c4-a727c024d443.png);
	}
}
@media screen and (min-width: 680px)  {
	img {
	
		content:url(https://user-images.githubusercontent.com/25018527/30564727-bd5bc27e-9c7a-11e7-844b-2c1e18f06f79.png);
	}
}
@media screen and (min-width: 800px)   {
	img {
	
		content:url(https://github.com/kaimorris/Responsive/blob/master/sailormercury.png?raw=true);
		
	}
}
